.bought {
   height: auto;
   overflow: hidden;
}
    
.myItemRight {
    width: 180px;
    float: right;
    background: #aafed6;
}

.removeItemLeft {
    float: none; /* not needed, just for clarification */
    background: #e8f6fe;
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
}